public/app/tree/tree.pug
﻿.container
    div
        button(ng-click='changeDragAndDropStatus()') Enable drag-n-drop
        button(ng-click='changeRemoveStatus()') Enable removing
        button(ng-click='collapseAll()') Collaps all
        button(ng-click='expandAll()') Expand all
        button.btn.btn-info(data-toggle="modal", data-target="#statsModal", ng-click='showStatusCount()') Statistic

    md-input-container
        label Filter...
        input(type='text' ng-model='pattern')


    div(ui-tree)
        button.btn.btn-default.btn-xs(ng-click="newPage(data)" ng-hide="allowRemove")
            span.glyphicon.glyphicon-plus
            span Add page
        ol.pageContaner#tree-root(ui-tree-nodes='', ng-model='data')
            li(ng-repeat='page in data', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                div.page.tree-node.tree-node-content.panel.panel-default
                    div.panel-body
                        i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                        a.btn.btn-success.btn-xs(data-nodrag ng-click="toggle(this)" ng-if="page.features && page.features.length > 0")
                            i.glyphicon.glyphicon-menu-down(ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}")

                        a(href="#" editable-text="page.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{page.title}}

                        button.btn.btn-default.btn-xs(ng-click="newFeature(page, page)" ng-hide="allowRemove")
                            span.glyphicon.glyphicon-plus
                            span Add feature
                        button.btn.btn-default.btn-xs(ng-click="newTest(page, page)" ng-hide="allowRemove")
                            span.glyphicon.glyphicon-plus
                            span Add test

                        a.btn.btn-danger.btn-xs(ng-click="deletePage(page, $index)" ng-show="allowRemove")
                            i.glyphicon.glyphicon-remove

                        ol.testContainer(ui-tree-nodes="" ng-model="page.features" ng-class="{hidden: collapsed}")
                            li(ng-repeat='test in page.features | filter:{isTest:true}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                div.row
                                    div.col-md-3.col-md-offset-7.test.tree-node.tree-node-content.panel.panel-default
                                        div.panel-body
                                            i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                            a(href="#" editable-text="test.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{test.title}}

                                            a.btn.btn-danger.btn-xs(ng-click="remove(test);updatePage(page)" ng-show="allowRemove")
                                                i.glyphicon.glyphicon-remove
                                    div.col-md-2.test.tree-node.tree-node-content.panel.panel-default
                                        div.panel-body
                                            a(href="#" editable-select="test.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses") {{ showStatus(test) }}
                        ol.featureContainer(ui-tree-nodes="" ng-model="page.features" ng-class="{hidden: collapsed}")
                            li(ng-repeat='feature in page.features | filter:{isTest:false}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                div.feature.tree-node.tree-node-content.panel.panel-default
                                    div.panel-body
                                        i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                        a.btn.btn-success.btn-xs(data-nodrag ng-click="toggle(this)" ng-if="feature.features && feature.features.length > 0")
                                            i.glyphicon.glyphicon-menu-down(ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}")

                                        a(href="#" editable-text="feature.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{feature.title}}

                                        button.btn.btn-default.btn-xs(ng-click="newFeature(page, feature)" ng-hide="allowRemove")
                                            span.glyphicon.glyphicon-plus
                                            span Add feature
                                        button.btn.btn-default.btn-xs(ng-click="newTest(page, feature)" ng-hide="allowRemove")
                                            span.glyphicon.glyphicon-plus
                                            span Add test

                                        a.btn.btn-danger.btn-xs(ng-click="remove(feature);updatePage(page)" ng-show="allowRemove")
                                            i.glyphicon.glyphicon-remove
                                        ol.testContainer(ui-tree-nodes="" ng-model="feature.features" ng-class="{hidden: collapsed}")
                                            li(ng-repeat='test1 in feature.features | filter:{isTest:true}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                div.row
                                                    div.col-md-3.col-md-offset-7.test.tree-node.tree-node-content.panel.panel-default
                                                        div.panel-body
                                                            i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                            a(href="#" editable-text="test1.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{test1.title}}

                                                            a.btn.btn-danger.btn-xs(ng-click="remove(test1)" ng-show="allowRemove")
                                                                i.glyphicon.glyphicon-remove
                                                    div.col-md-2.test.tree-node.tree-node-content.panel.panel-default
                                                        div.panel-body
                                                            a(href="#" editable-select="test1.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses") {{ showStatus(test1) }}
                                        ol.featureContainer(ui-tree-nodes="" ng-model="feature.features" ng-class="{hidden: collapsed}")
                                            li(ng-repeat='feature1 in feature.features | filter:{isTest:false}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                div.feature.tree-node.tree-node-content.panel.panel-default
                                                    div.panel-body
                                                        i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                        a.btn.btn-success.btn-xs(data-nodrag ng-click="toggle(this)" ng-if="feature1.features && feature1.features.length > 0")
                                                            i.glyphicon.glyphicon-menu-down(ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}")

                                                        a(href="#" editable-text="feature1.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{feature1.title}}

                                                        button.btn.btn-default.btn-xs(ng-click="newFeature(page, feature1)" ng-hide="allowRemove")
                                                            span.glyphicon.glyphicon-plus
                                                            span Add feature
                                                        button.btn.btn-default.btn-xs(ng-click="newTest(page, feature1)" ng-hide="allowRemove")
                                                            span.glyphicon.glyphicon-plus
                                                            span Add test

                                                        a.btn.btn-danger.btn-xs(ng-click="remove(feature1);updatePage(page)" ng-show="allowRemove")
                                                            i.glyphicon.glyphicon-remove
                                                        ol.testContainer(ui-tree-nodes="" ng-model="feature1.features" ng-class="{hidden: collapsed}")
                                                            li(ng-repeat='test2 in feature1.features | filter:{isTest:true}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                                div.row
                                                                    div.col-md-3.col-md-offset-7.test.tree-node.tree-node-content.panel.panel-default
                                                                        div.panel-body
                                                                            i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                                            a(href="#" editable-text="test2.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{test2.title}}

                                                                            a.btn.btn-danger.btn-xs(ng-click="remove(test2);updatePage(page)" ng-show="allowRemove")
                                                                                i.glyphicon.glyphicon-remove
                                                                    div.col-md-2.test.tree-node.tree-node-content.panel.panel-default
                                                                        div.panel-body
                                                                            a(href="#" editable-select="test2.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses") {{ showStatus(test2) }}
                                                        ol.featureContainer(ui-tree-nodes="" ng-model="feature1.features" ng-class="{hidden: collapsed}")
                                                            li(ng-repeat='feature2 in feature1.features | filter:{isTest:false}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                                div.feature.tree-node.tree-node-content.panel.panel-default
                                                                    div.panel-body
                                                                        i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                                        a.btn.btn-success.btn-xs(data-nodrag ng-click="toggle(this)" ng-if="feature2.features && feature2.features.length > 0")
                                                                            i.glyphicon.glyphicon-menu-down(ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}")

                                                                        a(href="#" editable-text="feature2.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{feature2.title}}

                                                                        button.btn.btn-default.btn-xs(ng-click="newFeature(page, feature2)" ng-hide="allowRemove")
                                                                            span.glyphicon.glyphicon-plus
                                                                            span Add feature
                                                                        button.btn.btn-default.btn-xs(ng-click="newTest(page, feature2)" ng-hide="allowRemove")
                                                                            span.glyphicon.glyphicon-plus
                                                                            span Add test

                                                                        a.btn.btn-danger.btn-xs(ng-click="remove(feature2);updatePage(page)" ng-show="allowRemove")
                                                                            i.glyphicon.glyphicon-remove
                                                                        ol.testContainer(ui-tree-nodes="" ng-model="feature2.features" ng-class="{hidden: collapsed}")
                                                                            li(ng-repeat='test3 in feature2.features | filter:{isTest:true}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                                                div.row
                                                                                    div.col-md-3.col-md-offset-7.test.tree-node.tree-node-content.panel.panel-default
                                                                                        div.panel-body
                                                                                            i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                                                            a(href="#" editable-text="test3.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{test3.title}}

                                                                                            a.btn.btn-danger.btn-xs(ng-click="remove(test3);updatePage(page)" ng-show="allowRemove")
                                                                                                i.glyphicon.glyphicon-remove
                                                                                    div.col-md-2.test.tree-node.tree-node-content.panel.panel-default
                                                                                        div.panel-body
                                                                                            a(href="#" editable-select="test3.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses") {{ showStatus(test3) }}
                                                                        ol.featureContainer(ui-tree-nodes="" ng-model="feature2.features" ng-class="{hidden: collapsed}")
                                                                            li(ng-repeat='feature3 in feature2.features | filter:{isTest:false}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                                                div.feature.tree-node.tree-node-content.panel.panel-default
                                                                                    div.panel-body
                                                                                        i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                                                        a.btn.btn-success.btn-xs(data-nodrag ng-click="toggle(this)" ng-if="feature3.features && feature3.features.length > 0")
                                                                                            i.glyphicon.glyphicon-menu-down(ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}")

                                                                                        a(href="#" editable-text="feature3.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{feature3.title}}

                                                                                        button.btn.btn-default.btn-xs(ng-click="newTest(page, feature3)" ng-hide="allowRemove")
                                                                                            span.glyphicon.glyphicon-plus
                                                                                            span Add test

                                                                                        a.btn.btn-danger.btn-xs(ng-click="remove(feature3);updatePage(page)" ng-show="allowRemove")
                                                                                            i.glyphicon.glyphicon-remove
                                                                                        ol.testContainer(ui-tree-nodes="" ng-model="feature3.features" ng-class="{hidden: collapsed}")
                                                                                            li(ng-repeat='test4 in feature3.features | filter:{isTest:true}', ng-hide='!treeFilter(page, pattern, supportedFields)' ui-tree-node='')
                                                                                                div.row
                                                                                                    div.col-md-3.col-md-offset-7.test.tree-node.tree-node-content.panel.panel-default
                                                                                                        div.panel-body
                                                                                                            i.glyphicon.glyphicon-th(ui-tree-handle, ng-show="allowDragAndDrop")

                                                                                                            a(href="#" editable-text="test4.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i") {{test4.title}}

                                                                                                            a.btn.btn-danger.btn-xs(ng-click="remove(test4);updatePage(page)" ng-show="allowRemove")
                                                                                                                i.glyphicon.glyphicon-remove
                                                                                                    div.col-md-2.test.tree-node.tree-node-content.panel.panel-default
                                                                                                        div.panel-body
                                                                                                            a(href="#" editable-select="test4.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses") {{ showStatus(test4) }}
                button.btn.btn-default.btn-xs(ng-click="newPage(data)" ng-hide="allowRemove")
                    span.glyphicon.glyphicon-plus
                    span Add page




div.modal.fade#statsModal(role='dialog')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(data-dismiss="modal") &times;
                h4.modal-title Statistic
            div.modal-body
                table.table-striped
                    thead
                        tr
                            th Status
                            th Quantity
                    tbody
                        tr(ng-repeat="status in statuses")
                            td {{status.text}}
                            td {{status.quantity}}

public/app/tree/tree.html
<div class="container"><div><button ng-click="changeDragAndDropStatus()">Enable drag-n-drop</button><button ng-click="changeRemoveStatus()">Enable removing</button><button ng-click="collapseAll()">Collaps all</button><button ng-click="expandAll()">Expand all</button><button class="btn btn-info" data-toggle="modal" data-target="#statsModal" ng-click="showStatusCount()">Statistic</button></div><md-input-container><label>Filter...</label><input type="text" ng-model="pattern"/></md-input-container><div ui-tree="ui-tree"><button class="btn btn-default btn-xs" ng-click="newPage(data)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add page</span></button><ol class="pageContaner" id="tree-root" ui-tree-nodes="" ng-model="data"><li ng-repeat="page in data" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="page tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a class="btn btn-success btn-xs" data-nodrag="data-nodrag" ng-click="toggle(this)" ng-if="page.features &amp;&amp; page.features.length &gt; 0"><i class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}"></i></a><a href="#" editable-text="page.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{page.title}}</a><button class="btn btn-default btn-xs" ng-click="newFeature(page, page)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add feature</span></button><button class="btn btn-default btn-xs" ng-click="newTest(page, page)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add test</span></button><a class="btn btn-danger btn-xs" ng-click="deletePage(page, $index)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a><ol class="testContainer" ui-tree-nodes="" ng-model="page.features" ng-class="{hidden: collapsed}"><li ng-repeat="test in page.features | filter:{isTest:true}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="row"><div class="col-md-3 col-md-offset-7 test tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a href="#" editable-text="test.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{test.title}}</a><a class="btn btn-danger btn-xs" ng-click="remove(test);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a></div></div><div class="col-md-2 test tree-node tree-node-content panel panel-default"><div class="panel-body"><a href="#" editable-select="test.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(test) }}</a></div></div></div></li></ol><ol class="featureContainer" ui-tree-nodes="" ng-model="page.features" ng-class="{hidden: collapsed}"><li ng-repeat="feature in page.features | filter:{isTest:false}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="feature tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a class="btn btn-success btn-xs" data-nodrag="data-nodrag" ng-click="toggle(this)" ng-if="feature.features &amp;&amp; feature.features.length &gt; 0"><i class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}"></i></a><a href="#" editable-text="feature.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{feature.title}}</a><button class="btn btn-default btn-xs" ng-click="newFeature(page, feature)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add feature</span></button><button class="btn btn-default btn-xs" ng-click="newTest(page, feature)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add test</span></button><a class="btn btn-danger btn-xs" ng-click="remove(feature);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a><ol class="testContainer" ui-tree-nodes="" ng-model="feature.features" ng-class="{hidden: collapsed}"><li ng-repeat="test1 in feature.features | filter:{isTest:true}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="row"><div class="col-md-3 col-md-offset-7 test tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a href="#" editable-text="test1.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{test1.title}}</a><a class="btn btn-danger btn-xs" ng-click="remove(test1)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a></div></div><div class="col-md-2 test tree-node tree-node-content panel panel-default"><div class="panel-body"><a href="#" editable-select="test1.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(test1) }}</a></div></div></div></li></ol><ol class="featureContainer" ui-tree-nodes="" ng-model="feature.features" ng-class="{hidden: collapsed}"><li ng-repeat="feature1 in feature.features | filter:{isTest:false}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="feature tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a class="btn btn-success btn-xs" data-nodrag="data-nodrag" ng-click="toggle(this)" ng-if="feature1.features &amp;&amp; feature1.features.length &gt; 0"><i class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}"></i></a><a href="#" editable-text="feature1.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{feature1.title}}</a><button class="btn btn-default btn-xs" ng-click="newFeature(page, feature1)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add feature</span></button><button class="btn btn-default btn-xs" ng-click="newTest(page, feature1)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add test</span></button><a class="btn btn-danger btn-xs" ng-click="remove(feature1);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a><ol class="testContainer" ui-tree-nodes="" ng-model="feature1.features" ng-class="{hidden: collapsed}"><li ng-repeat="test2 in feature1.features | filter:{isTest:true}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="row"><div class="col-md-3 col-md-offset-7 test tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a href="#" editable-text="test2.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{test2.title}}</a><a class="btn btn-danger btn-xs" ng-click="remove(test2);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a></div></div><div class="col-md-2 test tree-node tree-node-content panel panel-default"><div class="panel-body"><a href="#" editable-select="test2.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(test2) }}</a></div></div></div></li></ol><ol class="featureContainer" ui-tree-nodes="" ng-model="feature1.features" ng-class="{hidden: collapsed}"><li ng-repeat="feature2 in feature1.features | filter:{isTest:false}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="feature tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a class="btn btn-success btn-xs" data-nodrag="data-nodrag" ng-click="toggle(this)" ng-if="feature2.features &amp;&amp; feature2.features.length &gt; 0"><i class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}"></i></a><a href="#" editable-text="feature2.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{feature2.title}}</a><button class="btn btn-default btn-xs" ng-click="newFeature(page, feature2)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add feature</span></button><button class="btn btn-default btn-xs" ng-click="newTest(page, feature2)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add test</span></button><a class="btn btn-danger btn-xs" ng-click="remove(feature2);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a><ol class="testContainer" ui-tree-nodes="" ng-model="feature2.features" ng-class="{hidden: collapsed}"><li ng-repeat="test3 in feature2.features | filter:{isTest:true}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="row"><div class="col-md-3 col-md-offset-7 test tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a href="#" editable-text="test3.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{test3.title}}</a><a class="btn btn-danger btn-xs" ng-click="remove(test3);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a></div></div><div class="col-md-2 test tree-node tree-node-content panel panel-default"><div class="panel-body"><a href="#" editable-select="test3.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(test3) }}</a></div></div></div></li></ol><ol class="featureContainer" ui-tree-nodes="" ng-model="feature2.features" ng-class="{hidden: collapsed}"><li ng-repeat="feature3 in feature2.features | filter:{isTest:false}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="feature tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a class="btn btn-success btn-xs" data-nodrag="data-nodrag" ng-click="toggle(this)" ng-if="feature3.features &amp;&amp; feature3.features.length &gt; 0"><i class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon glyphicon-menu-right': collapsed, 'glyphicon glyphicon-menu-down': !collapsed}"></i></a><a href="#" editable-text="feature3.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{feature3.title}}</a><button class="btn btn-default btn-xs" ng-click="newTest(page, feature3)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add test</span></button><a class="btn btn-danger btn-xs" ng-click="remove(feature3);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a><ol class="testContainer" ui-tree-nodes="" ng-model="feature3.features" ng-class="{hidden: collapsed}"><li ng-repeat="test4 in feature3.features | filter:{isTest:true}" ng-hide="!treeFilter(page, pattern, supportedFields)" ui-tree-node=""><div class="row"><div class="col-md-3 col-md-offset-7 test tree-node tree-node-content panel panel-default"><div class="panel-body"><i class="glyphicon glyphicon-th" ui-tree-handle="ui-tree-handle" ng-show="allowDragAndDrop"></i><a href="#" editable-text="test4.title" onbeforesave="updatePage(page)" md-highlight-text="pattern" md-highlight-flags="i">{{test4.title}}</a><a class="btn btn-danger btn-xs" ng-click="remove(test4);updatePage(page)" ng-show="allowRemove"><i class="glyphicon glyphicon-remove"></i></a></div></div><div class="col-md-2 test tree-node tree-node-content panel panel-default"><div class="panel-body"><a href="#" editable-select="test4.status" onbeforesave="updatePage(page)" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(test4) }}</a></div></div></div></li></ol></div></div></li></ol></div></div></li></ol></div></div></li></ol></div></div></li></ol></div></div><button class="btn btn-default btn-xs" ng-click="newPage(data)" ng-hide="allowRemove"><span class="glyphicon glyphicon-plus"></span><span>Add page</span></button></li></ol></div></div><div class="modal fade" id="statsModal" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button class="close" data-dismiss="modal">&times;</button><h4 class="modal-title">Statistic</h4></div><div class="modal-body"><table class="table-striped"><thead><tr><th>Status</th><th>Quantity</th></tr></thead><tbody><tr ng-repeat="status in statuses"><td>{{status.text}}</td><td>{{status.quantity}}</td></tr></tbody></table></div></div></div></div>
